.modal-active {
    overflow: hidden;
    
    // &_small {
        
    // }

	& .modals .modals__modal {
		display: block;
	}

	& .modals .modals__modal-overlay {
		opacity: 1;
		visibility: visible;
		transition: all 0.2s ease-in-out;
		z-index: 11;
	}
}
